[submodule "PyTorch-StudioGAN"]
	path = PyTorch-StudioGAN
	url = https://github.com/POSTECH-CVLab/PyTorch-StudioGAN.git
[submodule "stylegan2"]
	path = stylegan2
	url = https://github.com/NVlabs/stylegan2.git
